@inherits LayoutComponentBase

<div class="sidebar col-xl-3">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/jmp056/Tarea4_SistemadeInscripcion.git" target="_blank">Link del repositorio del proyecto</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
